.env
Yak2048/
__pycache__/
versions/
app/giftme/test_db_connection.py
setup.py
sqlalchemy_test_history_sample.py
main.py
pytest.ini
.vscode/settings.json
app/giftme/tests/test_dao.py
app/test_dao.py
__init__.py
**\__init__.py
static/

app/templates/old_base.html
app/templates/pages/old_index.html
app/templates/pages/records.html
