<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}GiftMe{% endblock %}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/static/css/main.css" rel="stylesheet" />
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <div class="light-dots"></div>
    <div class="content-wrapper">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <!-- Include the compiled Calendar.js -->
    <script src="/static/js/components/Calendar.js"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
